.container{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.map-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.map {
  height: 100%;
  width: 100%;
}

.footer-container {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}
